<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack.MSBuild.Task" version="2.0.13" targetFramework="net48" />
  <package id="ini-parser" version="2.5.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="17.13.9" targetFramework="net48" />
  <package id="Microsoft.Build.Utilities.Core" version="17.13.9" targetFramework="net48" />
  <package id="Microsoft.IO.Redist" version="6.1.2" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.13.9" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.13.2069" targetFramework="net48" developmentDependency="true" />
  <package id="Onova" version="2.6.13" targetFramework="net48" />
  <package id="SharpCompress" version="0.39.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.3" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Permissions" version="9.0.4" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.5" targetFramework="net48" />
</packages>